@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    min-height: 100%;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    
}
header > h1{
    font-size: 9em;
    font-family: Passion One, Helvetica, sans-serif;
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    padding-bottom: 50px;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section.normal{
    padding-bottom: 10vh;
    padding-top: 10vh;
    
}
section.imagem{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 4vh;
    color: white;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section{
    font-size: 3.5em;
    line-height: 2em;
    font-family:  Sriracha, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    
}
#img01{
    background-image: url(imagens/background001.jpg);
}
#img02{
    background-image: url(imagens/background002.jpg);
    
}


footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.527);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;

}



